/* generics */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-family: "Press Start 2P", sans-serif;
  color: rgb(63, 62, 62);
}

/* utilities */

/* content */

.container {
  height: 100vh;
  background-color: rgb(176, 176, 176);
  position: relative;
}

img {
  width: 80px;
}

.title {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.levels {
  text-align: center;
}

button {
  border-radius: 20px;
  margin: 10px 5px;
  font-size: 0.9rem;
  border: transparent;
  background-color: rgb(69, 127, 159);
  padding: 8px 14px;
  color: rgb(0, 0, 0);
}

button:hover {
  cursor: pointer;
  outline: 2px solid rgb(69, 127, 159);
  outline-offset: 2px;
  color: lightgray;
}

h2 {
  line-height: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

#grid {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.d-none {
  display: none;
}

#game-over,
#winner {
  height: 510px;
  width: 510px;
  border-radius: 5px;
  margin-top: 68px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-over-text {
  width: 510px;
  height: 510px;
  font-size: 2.5rem;
  color: rgb(255, 66, 66);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#punteggio {
  color: red;
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
}

#winner-text {
  color: green;
  width: 500px;
  height: 500px;
  font-size: 2.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cell {
  background-color: lightgray;
  border: 2px solid rgb(176, 176, 176);
  font-size: 12px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  cursor: pointer;
  background-color: gray;
}

.bg-skyblue {
  background-color: skyblue;
}

.bg-red {
  background-color: tomato;
}

.cell.hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.cell.medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.cell.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}
